# Google Apps Script URL for sending emails
VITE_GAS_EMAIL_URL=https://script.google.com/macros/s/AKfycbzK_Y3jHmldTMZ0h9N2WtGbxch34OoNpHMlVlSNTGOX2vagznsNH89WGqcI9Mf5vXf2/exec

# Optional Admin Email
VITE_ADMIN_EMAIL=ldo@bu.ac.th

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCgXrnA5Z-NHRmpdXpxAPJxjvbZ2NfOLFA
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0768512272.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0768512272
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0768512272.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=860830835527
VITE_FIREBASE_APP_ID=1:860830835527:web:a36864cc7d3cf8f39a6262
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-f6574d60-f4e8-42e9-bf34-a5fc43f64eb0
