# Google Apps Script URL for sending emails
VITE_GAS_EMAIL_URL=https://script.google.com/macros/s/AKfycbzK_Y3jHmldTMZ0h9N2WtGbxch34OoNpHMlVlSNTGOX2vagznsNH89WGqcI9Mf5vXf2/exec

# Optional Admin Email
VITE_ADMIN_EMAIL=ldo@bu.ac.th
